
.act-show {
    color: #000!important;
    border-right: 3px solid #4fa2c3;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
    background-image: linear-gradient(to right, rgba(255,0,0,0), #f4f5f8d1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none!important;
}

.text-color{
  color: #4fa2c3;
}
.bg-color{
  background-color: #4fa2c3!important;
}
.btn-shadow{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
  border: 2px solid #4fa2c3!important;
}

.tab-head-125 .nav-pills .nav-link.active{
  color: #fff!important;
  background-color: #4fa2c3;
}
.border-r{
  border-radius: 15px;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #4fa2c3;
  z-index: 100;
  transition: all 0.5s ease;
}
.close{
    opacity: 1!important;
}
.sidebar.close{
  width: 78px;
}
.logo-details{
    box-shadow: -4px 2px 4px 0 rgb(0 0 0 / 20%), -9px 4px 8px 0 rgb(0 0 0 / 19%);
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  color: #000!important;
    border-right: 3px solid #4fa2c3;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #f4f5f8d1);
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  /*background: #E4E9F7;*/
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section,
.sidebar.close ~ .home-content{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-content{
    box-shadow: 9px -11px 4px 0 rgb(0 0 0 / 20%), 6px 1px 8px 0 rgb(0 0 0 / 19%);
    z-index: 9999;
    position: fixed;
    top: 0px;
    background: #fff;
    width: calc(100% - 76px);
    transition: all 0.5s ease;
}
.home-section .home-content .bx-menu{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

.card-225{
    position: relative;
    width: 225px;
    height: 150px;
    background: #4fa2c3;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    align-items: center;
    justify-content: center;
  }

.card-content-225{
    position: relative;
    width: 200px;
    height: 140px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .text-zone{
    position: relative;
    left: 10px;
    width: 35px;
    height: 90px;
    background: #4fa2c3;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    box-shadow: inset 15px 0px 14px 0 rgb(0 0 0 / 20%), inset 10px 0px 9px 0 rgb(0 0 0 / 19%);
  }
  .text-zone::before{
    content: '';
    position: absolute;
    top: -8px;
      right: 3px;
      width: 10px;
      height: 10px;
      background: #ff000000;
      border-bottom-right-radius: 15px;
      box-shadow: 3px 2px 0px 1px #4fa2c3;
  }
  .text-zone::after{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 3px;
    width: 10px;
    height: 10px;
    background: #ff000000;
    border-top-right-radius: 15px;
    box-shadow: 6px -2px 0px 0px #4fa2c3;
  }

  .content-rad-225{
     margin: 0 10px;
  }

  .content-rad-225 p{
    width: 45px;
    height: 45px;
    border: 2px solid #4fa2c3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-bottom: 5px;
  }

  .content-rad-225 h4{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
  }

  /*.heard-225{
    z-index: 2;
    position: fixed;
    top: 0px;
    background: #fff;
    width: calc(100% - 260px);
    border-top: 1px solid #4fa2c3;
  }*/

  .heard-225 span {
    display: flex;
    border-radius: 25px;
    padding: 10px 35px;
    width: auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.heard-225 span p i{
  font-size: 20px;
  padding-right: 15px;
}

.elment-menu .dropdown-toggle::after {
  display: block!important;
  margin-left: 0!important;
}

.infos-contente{
  overflow-y: auto;
  height: 75vh;
}

/*multi upload*/
@charset "UTF-8";
html * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4fa2c3;
  border-color: #4fa2c3;
  line-height: 26px;
  font-size: 16px;
}
.upload__btn:hover {
  background-color: unset;
  color: #4fa2c3;
  transition: all 0.3s ease;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}
.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)!important;
}


#contact-select-cordonnee select,#contact-select-cordonnee input {
  padding:5px;
  border:2px solid #4fa2c3;
}

#contact-select-cordonnee select:hover{
  cursor:pointer;
}

#contact-select-cordonnee select{
  width:130px;
  font-size: 15px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
