
.act-show {
    color: #000!important;
    border-right: 3px solid #4fa2c3;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
    background-image: linear-gradient(to right, rgba(255,0,0,0), #f4f5f8d1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-size: inherit;
  text-decoration: none;
}

/*body{
  overflow-y: scroll;
  overflow-x: hidden;
}*/

a{
    text-decoration: none!important;
}

.text-color{
  color: #4fa2c3;
}
.bg-color{
  background-color: #4fa2c3!important;
}
.bg-color-2{
  background-color: #dc9035;
}
.bg-color-3{
  background-color: #9f7432;
}
.boxx-shadow{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
}
.btn-shadow{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
  border: 2px solid #4fa2c3!important;
}

.tab-head-125 .nav-pills .nav-link.active{
  color: #fff!important;
  background-color: #4fa2c3;
}
.border-r{
  border-radius: 15px;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #4fa2c3;
  z-index: 100;
  transition: all 0.5s ease;
}
.close{
    opacity: 1!important;
}
.sidebar.close{
  width: 78px;
}
.logo-details{
    box-shadow: -4px 2px 4px 0 rgb(0 0 0 / 20%), -9px 4px 8px 0 rgb(0 0 0 / 19%);
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 10px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  color: #000!important;
    border-right: 3px solid #4fa2c3;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #f4f5f8d1);
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  /*background: #E4E9F7;*/
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section,
.sidebar.close ~ .home-content{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
}
.home-content{
    box-shadow: 9px -11px 4px 0 rgb(0 0 0 / 20%), 6px 1px 8px 0 rgb(0 0 0 / 19%);
    z-index: auto;
    position: fixed;
    top: 0px;
    background: #fff;
    width: calc(100% - 0px);
    transition: all 0.5s ease;
}
.home-section .home-content .bx-menu{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

.card-225{
    position: relative;
    width: 225px;
    height: 150px;
    background: #4fa2c3;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    align-items: center;
    justify-content: center;
  }

.card-content-225{
    position: relative;
    width: 200px;
    height: 140px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .text-zone{
    position: relative;
    left: 10px;
    width: 35px;
    height: 90px;
    background: #4fa2c3;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    box-shadow: inset 15px 0px 14px 0 rgb(0 0 0 / 20%), inset 10px 0px 9px 0 rgb(0 0 0 / 19%);
  }
  .text-zone::before{
    content: '';
    position: absolute;
    top: -8px;
      right: 3px;
      width: 10px;
      height: 10px;
      background: #ff000000;
      border-bottom-right-radius: 15px;
      box-shadow: 3px 2px 0px 1px #4fa2c3;
  }
  .text-zone::after{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 3px;
    width: 10px;
    height: 10px;
    background: #ff000000;
    border-top-right-radius: 15px;
    box-shadow: 6px -2px 0px 0px #4fa2c3;
  }

  .content-rad-225{
     margin: 0 10px;
  }

  .content-rad-225 p{
    width: 45px;
    height: 45px;
    border: 2px solid #4fa2c3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-bottom: 5px;
  }

  .content-rad-225 h4{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
  }

  /*.heard-225{
    z-index: 2;
    position: fixed;
    top: 0px;
    background: #fff;
    width: calc(100% - 260px);
    border-top: 1px solid #4fa2c3;
  }*/

  .heard-225 span {
    display: flex;
    border-radius: 25px;
    padding: 10px 35px;
    width: auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.heard-225 span p i{
  font-size: 20px;
  padding-right: 15px;
}

.elment-menu .dropdown-toggle::after {
  display: block!important;
  margin-left: 0!important;
}

.infos-contente{
  overflow-y: auto;
  height: 75vh;
}

/*multi upload*/
html * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4fa2c3;
  border-color: #4fa2c3;
  line-height: 26px;
  font-size: 16px;
}
.upload__btn:hover {
  background-color: unset;
  color: #4fa2c3;
  transition: all 0.3s ease;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}
.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)!important;
}


#contact-select-cordonnee select,#contact-select-cordonnee input {
  padding:5px;
  border:2px solid #4fa2c3;
}

#contact-select-cordonnee select:hover{
  cursor:pointer;
}

#contact-select-cordonnee select{
  width:130px;
  font-size: 15px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.mains-img{
  font-size: 5rem;
  height: 300px;
  background:url('../../assets/media/kofre.png');
  margin: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-color-first{
  background-color: #0000004a;
  height: 300px;
}

.logo-vignette{
  border: 2px solid #000;
  width: 150px;
  height: 150px;
  bottom: -45px;
  left: 40px;
}

.imgEditShow{
  background-image: url("../../assets/media/img-8.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vh;
}


.gallery-block.grid-gallery {
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.grid-gallery a:hover {
	opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	transition: 0.4s;
}

.gallery-block.grid-gallery .item {
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	.gallery-block.grid-gallery .scale-on-hover:hover {
		transform: scale(1.05);
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
	}
}


.services .card, .team_s .card .card-body{
  border: 2px solid #4FA2C2 !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), -1px 2px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

.team_s .card, .services .card{
  width: 15rem;
  border: none;
}
.img_tema_s img{
  width: 125px;
  height: 125px;
}

.map_show iframe{
  width: 100% !important;
  height: 450px !important;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.active_pagination{
  background-color: #4fa2c3;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2px 8px 0 rgb(0 0 0 / 19%);
}
.active_pagination:hover{
  background-color: #4fa2c3;
  color: #fff;
}

.pagination li{
  cursor: pointer;
}

.btn-pdf{
  font-size: 13px;
}

.container-fluid{
  padding: 10px
}
h3, h4{
  display: inline-block
}
.category-list, .subcategory-list{
  margin-bottom: 10px;
}
.category-list-body{
 padding-left: 30px 
}

/*Invoice*/

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, 
*[contenteditable]:focus, 
td:hover *[contenteditable], 
td:focus *[contenteditable], 
img.hover { background: #DEF; 
  box-shadow: 0 0 0.3em 0.2em #def; 
}

span[contenteditable] { display: inline-block; }


/* table items */
#invoice_id { clear: both; width: 100%; }


#invoice_id div ul li:nth-child(1) { width: 30%; }
#invoice_id div ul li:nth-child(2) { width: 15%; }
#invoice_id div ul li:nth-child(3) { width: 30%; }
#invoice_id div ul li:nth-child(4) { width: 25%; }

@media print {
	span:empty { display: none; }
}

.taxtttc{
  width: 130px;
}

#add_contente , #delete_row{
  width: 25px;
  height: 25px;
}

/*.box_invoicess{
  height: 50rem;
  overflow-y: auto;
  overflow-x: hidden;
}*/

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #4fa2c3; 
}

#image-preview{
  height:150px;
  width:auto;
  display:block;
  padding:5px;
}

.btn_add_logo{
  display: table;
   }

.btn_add_logo > input[type="file"] {
  display: none;
}

.redText{
  color: FireBrick;
}

.orangeText{
  color: Orange;
}

.yellowText{
  color: yellow;
}

.greenText{
  color: green;
}

.blueText{
  color: DeepSkyBlue;
}

.purpleText{
  color: RebeccaPurple;
}

.greyText{
  color: grey;
}

.whiteText{
  color:white;
}

.blackText{
  color:black;
}