.main-heard{
    height: 100vh;
}
.img-right{
    background-image: url("../../assets/media/img-8.png");
    background-size: 650px;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: top;
}

body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

a:hover {
    text-decoration: none!important;
}
.text-color{
    color: #4fa2c3;
}
.bg-color{
    background-color: #4fa2c3!important;
}

.border-r{
    border-radius: 15px;
}

.bg-img-1{
    background-image: url("../../assets/media/img-7.png");
    background-size: 600px;
    background-repeat: no-repeat;
    height: 60vh;
    background-position-y: -69px;
}

.bg-img-2{
    background-image: url("../../assets/media/img-4.png");
    background-size: 600px;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: inherit;
}

.bg-img-3{
    background-image: url("../../assets/media/img-5.png");
    background-size: 600px;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: inherit;
}

.row-who img{
    width: 100px;
}
.row-who h5{
font-size: 25px;
}

.row-who .card-body{
    border-bottom: 7px solid #4fa2c3;
}

.accordion >.card{
    border-radius: 15px!important;
}

.accordion .btn{
    border-left: 3px solid #4fa2c3;
    border-radius: 0px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 0%)!important;
}
.login-main-section{
    height: 100vh;
}
.btn-login a{
    font-size: 20px;
    width: 125px;
}

.login-form button{
    border: 2px solid #4fa2c3;
}
.login-main-section svg {
    position: absolute;
    bottom: 0;
}